<div class="current-temperature">
    <div class="today-current-temperature">{{this.temp}}</div>
    <sup class="degree-symbol">&deg;</sup>
</div>
<ul class="minimax-block">
    <li class="today-min-temperature minimax">
        <span>min: </span>
        <div>
            <p id="today-min">{{this.temp_min}}</p>
            &deg;
        </div>
    </li>
    <li class="today-max-temperature minimax">
        <span>max: </span>
        <div>
            <p id="today-max">{{this.temp_max}}</p>
            &deg;
        </div>
    </li>
</ul>